<% admin_breadcrumb(Spree.t(:sub_property_edit)) %>


<% content_for :page_actions do %>
    <li>
      <%= button_link_to Spree.t(:back_to_properties_list), spree.admin_properties_path, :class=>'fa fa-arrow-left' %>
    </li>
<% end %>

<%# Because otherwise the form would attempt to use to_param of @sub_property %>
<% form_url = admin_property_sub_property_path(@property.id, @sub_property.id) %>
<%= form_for [:admin, @property, @sub_property], :method => :put, :url => form_url, :html => { :multipart => true } do |f| %>
    <%= render 'form', :f => f %>

    <div class="form-buttons filter-actions" data-hook="buttons">
      <%= button Spree.t('actions.update') %>
      <%= button_link_to Spree.t('actions.cancel'), edit_admin_property_url(@property) %>
    </div>
<% end %>

